.projectName {
  font-weight: 800;
  margin-right: 0.5rem;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.linkContainer a {
  margin-right: 0.6rem;
}

.bugIcon {
  position: absolute;
  top: -8px;
  right: 0px;
  z-index: 10;
}

.techUsed {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.5rem;
  justify-items: space-around;
  align-items: center;
  width: 100%;

  --tech-font-size: 0.4rem;
}

.link {
  color: var(--color-text-main);
  text-decoration: none;
}
