.projectName {
  font-weight: 800;
  margin-right: 0.5rem;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.linkContainer a {
  margin-right: 0.6rem;
}

.bugIcon {
  position: absolute;
  top: -8px;
  right: 0px;
  z-index: 10;
}

.techUsed {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  color: var(--color-text-main);
  text-decoration: none;
}
