/* --- Default (Desktop) Styles --- */
.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navItem {
  min-width: 150px;
  max-width: 150px;
  position: relative;
  background: var(--color-secondery);
  height: 5em;
  width: 6em;
  padding: 2em;
  margin-top: 2em;
  transition: transform 0.2s linear;
}

.navItem {
  transition: all 0.3s ease;
}

.navItem a {
  text-decoration: none;
  color: var(--color-text-header);
  font-family: "Sue Ellen Francisco";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.navList .navItem:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  margin-right: 2rem;
}

.navList .navItem:nth-child(odd) {
  transform: rotate(-3deg);
  position: relative;
}

.navList .navItem:hover,
.navList .navItem:focus {
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  position: relative;
  z-index: 5;
}

.navList .navItem {
  box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.5);
}

.active {
  transform: scale(1.1) !important;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background: var(--color-secondery);
  opacity: 1;
  rotate: 0deg;
}

.inactive {
  opacity: 0.7;
}

.test {
  transform: rotate(45deg);
  z-index: 10;
  width: 35%;
  margin-top: 20px;
}

.glitchWrapper {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitchWrapper:before,
.glitchWrapper:after {
  content: attr(bug);
  position: absolute;
  left: 0;
}

.glitchWrapper:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitchWrapper:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
  .navList {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 5px;
    margin: 0;
    position: static;
    box-sizing: border-box;
  }

  .navItem {
    margin: 0;
    transform: none;
    background: var(--color-secondery);
    height: 70px;

    padding: 0 3px;
    min-width: 45px;
    max-width: 65px;

    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.5);

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .navList .navItem:nth-child(even),
  .navList .navItem:nth-child(odd) {
    transform: none;
    margin: 0;
  }

  .navItem a {
    font-size: 16px;
    color: var(--color-text-header);
    align-items: center;
  }

  .navList .navItem.active {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3) !important;
    transform: none !important;
    z-index: 10;
  }

  .navList .navItem.inactive {
    box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.2) !important;
    opacity: 0.5;
  }

  .test {
    transform: rotate(-20deg);
    width: 16px;
    margin-top: 0px;
  }
}
