@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --color-primary: #0056b3;
  --color-secondery: #ffcd38;

  --color-background: #f8f9fa;
  --color-muted: #bcdffb;
  --color-dark: #292e33;
  --color-grey: #85888c;
  --color-light: #e9ecef;

  --color-text-header: #2e3439;
  --color-text-main: #343a40;

  --mobile-nav-height: 100px;
  --mobile-nav-height-with-gap: 80px;
  --color-background-card: white;

  --mobile-primary-font-size: 0.85rem;
  --mobile-secondery-font-size: 0.7rem;
}

body {
  font-family: "JetBrains Mono";
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-family: "Sue Ellen Francisco";
  color: var(--color-text-header);
  font-size: 2em;
}

h2,
h3 {
  font-family: "Sue Ellen Francisco";
  color: var(--color-text-header);
}
