/* .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.container {
  display: flex;
  flex: 1;
}

/* .main {
  flex: 1;
  padding: 2rem;
} */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1000;
}

.main {
  margin-left: 280px;
  flex: 1;
  padding: 1.5em;
  min-width: 0;
}

.footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #333;
  color: white;
  text-align: center;
}

/* Account half screens */
@media (max-width: 1200px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .main {
    margin-left: 0;
  }

  .footer {
    margin-left: 0;
  }
}
