.container {
  display: flex;
  flex: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1000;
}

.main {
  margin-left: 280px;
  flex: 1;
  padding: 1.5em;
  min-width: 0;
}

.bugOne {
  margin-left: -10px;
  position: relative;
  top: -3px;
  z-index: 1;
}

.bugTwo {
  margin-left: -18px;
  display: inline-block;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  z-index: 2;
}

.botlLeft {
  margin-right: 50px;
}

.boltRight {
  margin-left: 50px;
}

/* Account half screens */
@media (max-width: 1200px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    /* position: fixed;
    width: 100%;
    height: auto; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .main {
    margin-left: 0;
  }

  .footer {
    margin-left: 0;
  }
}
