.SectionLinks {
  display: flex;
  justify-content: space-evenly;
}

.skillContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.skillList {
  flex: 1;
  min-width: 80px;
  margin-right: 5em;
}
