/* --- Default (Desktop) Styles --- */
.navItem a {
  text-decoration: none;
  color: var(--color-text-header);
  font-family: "Sue Ellen Francisco";
  font-size: 30px;
}

.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navList .navItem {
  flex-wrap: wrap;
  justify-content: center;
  min-width: 150px;
  max-width: 150px;
  position: relative;
  background: var(--color-secondery);
  height: 5em;
  width: 6em;
  padding: 2em;
  margin-top: 2em;
  transition: transform 0.2s linear;
}

.navList .navItem:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  margin-right: 2rem;
}

.navList .navItem:nth-child(odd) {
  transform: rotate(-3deg);
  position: relative;
}

.navList .navItem:hover,
.navList .navItem:focus {
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  position: relative;
  z-index: 5;
}

.navList .navItem {
  box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.5);
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
  .navList {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
  }

  .navList .navItem {
    margin: 0;
    /* padding: 0.6em; */
    padding: 10px 15px;
    height: 3em;
    width: 2em;
    transform: none !important;
    box-shadow: none;
    flex-shrink: 0;
  }

  .navItem a {
    padding-left: 10px;
    font-size: 18px;
  }
}
